.chart{
    flex: 4;

    box-shadow: -1px 5px 20px -1px rgba(0,0,0,0.53);
    -webkit-box-shadow: -1px 5px 20px -1px rgba(0,0,0,0.53);
    -moz-box-shadow: -1px 5px 20px -1px rgba(0,0,0,0.53);
    color: gray;
    padding: 10px;


    .title{
        margin-bottom:20px ;
    }

    .chartGrid{
        stroke: rgba(228,229,228,0.219);
    }
}